<!DOCTYPE html>

<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />

</head>

  <body>

    <% include nav.ejs %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <!-- <li class="active"><a href="#">项目1 </a></li>
            <li><a href="#">项目2</a></li> -->
            <% for(var i=0;i < pjarr.length ;i++){
                 if(pjarr[i].id == selectpj){  %> 
            <li class="active"> 
                <a href="/project?pid=<%=pjarr[i].id %>"><%=pjarr[i].name %> </a></li>  
            <% } else { %> 
            <li>        
                <a href="/project?pid=<%=pjarr[i].id %>"><%=pjarr[i].name %> </a></li>   
            <% }} %>
            
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header"><a href='/project/pjdetails?pid=<%=selectpj %>' title="点击获取此项目详细信息">项目成员</a> </button></h2>

            <div class="row ">
                <% for(var i = 0;i< grouparr.length ; i++){ %>

                <div class="col-xs-3 col-sm-1 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="50" height="50" class="img-responsive"
                        alt="Generic placeholder thumbnail">
                    <h5> <%= groupname[grouparr[i].gid] %> </h5>
                    <span class="text-muted"><%= grouparr[i].nickname %></span>
                </div>
                <% } %>
            </div>

            <h2 class="sub-header"><a href='/project/pjdetails?pid=<%=selectpj %>' title="点击获取此项目详细信息">项目版本</a></h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>版本名称</th>
                            <th>计划开始时间</th>
                            <th>计划结束时间</th>
                            <th>版本状态</th>
                            <th>完成度</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0;i< 3;i++){
                            if(versionarr[i] != null){ %>
                        <tr>
                            <td><%= versionarr[i].name %> </td>
                            <td>
                                <%= new Date((versionarr[i].pctime)*1000).Format("yyyy-MM-dd") %>
                            </td>
                            <td><%= new Date((versionarr[i].petime)*1000).Format("yyyy-MM-dd") %></td>
                            <td><%= statename[versionarr[i].state] %></td>
                            <td>0.8</td>
                        </tr>

                        <% }} %>
                    </tbody>
                </table>
            </div>

            <h2 class="sub-header"><a href='/project/pjdetails?pid=<%=selectpj %>' title="点击获取此项目详细信息">详细</a></h2>
            <div class="col-xs-12 col-sm-6 ">
                    <h5 class="sub-header">临近到期任务</h5>
                    <ul>
                        <li><a>js补充</a></li>
                        <li><a>ejs 填充</a></li>
                    </ul>
            </div>
            <div class="col-xs-12 col-sm-6 ">
                    <h5 class="sub-header">BUG列表</h5>
                    <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>时间</th>
                                        <th>负责人</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>20170828</td>
                                        <td>C罗</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>20170828</td>
                                        <td>贝尔</td>
                                    </tr>
        
                                </tbody>
                            </table>
                        </div>
            </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body></html>